<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneaker Store</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!--Bootstrap icons -->
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Sneakers</a></li>
        {{#if session.userseller}}
        <li><a href="/sneakers/dashboard">Dashboard</a></li>
        {{/if}}
        {{#if session.userid}}
        <li><a href="/logout">Sair</a></li>
        {{else}}
        <li><a href="/login">Entrar</a></li>
        <li><a href="/register">Registrar</a></li>
        {{/if}}
      </ul>
    </nav>
    <div class="container">
      <!--mensagens -->
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{{body}}}
    </div>
    <footer>
      <p><span>Sneaker Store</span> &copy; 2023</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>