<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneaker Store</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!--Bootstrap icons -->
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Sneakers</a></li>
        <li><a href="/login">Entrar</a></li>
        <li><a href="/register">Registrar</a></li>
      </ul>
    </nav>
    <div class="container">
      <!--mensagens -->
      {{{body}}}
    </div>
    <footer>
      <p><span>Sneaker Store</span> &copy; 2023</p>
    </footer>
  </body>
</html>