* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0a0a00;
}

/* navbar */
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
}

#navbar {
  padding: 1.2em 1.4em;
  display: flex;
  min-height: 8vh;
  max-height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: #d01110;
  position: sticky;
  top: 0;
  z-index: 999;
  /*border-bottom: 1px solid #0a0a00;*/
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: #a8bbb0;
}

/* container*/
.container {
  min-height: 80vh;
  background-color: #dde1e7;
  color: #0a0a00;
  padding: 2em;
  position: relative;
}

/*message*/

.message {
  padding: 1em;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

/* login e register*/
.auth-container {
  max-width: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: #0a0a00;
  border-left: 4px solid #d01110;
  padding: 0.3em;
  width: 1em;
}

.auth-container a {
  color: #a8bbb0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  padding: 0.6em;
  height: 3.5em;
  border-radius: 10px;
  color: #0a0a00;
  background-color: #fff;
  border: 1px solid #ebe8e0;
  outline: none;
}

.form-control input:focus,
.form-control textarea:focus {
  border: 1px solid #d01110;
}

.form-control input:valid,
.form-control textarea:valid {
  border: 1px solid #20d010;
}

form input[type="submit"],
.btn {
  background-color: transparent;
  color: #a8bbb0;
  border: 2px solid #a8bbb0;
  padding: 0.5em 1.2em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.185);
}

form input[type="submit"]:hover,
.btn:hover {
  background-color: #a8bbb0;
  color: #ebe8e0;
  border: 2px solid #ebe8e0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

form input[type="checkbox"]{
  opacity: 0;
  width: 0;
  height: 0;
}

form .switch-button{
  top: 0;
  margin: 0;
  height: 2em;
  width: 4.5em;
  border-radius: 40px;
  background-color: #475569;
  margin-bottom: 1em;
}

form .switch-button::before{
  content: "";
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  margin-top: .15em;
  margin-left: .25em;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: aliceblue;
}

form input[type="checkbox"]:checked + .switch-button{
  background-color: #20d010;
}

form input[type="checkbox"]:checked + .switch-button::before{
  transform: translateX(2.4em);
}

/*footer*/

footer {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0a0a00;
  border-top: 2px solid #a8bbb0;
}

footer span {
  font-weight: bold;
  color: #a8bbb0;
}
