<div class="sneaker-form-container">
  <a href="/sneakers/dashboard">Voltar</a>
  <h1>Criando um Anúncio:</h1>
  <form action="/sneakers/add" method="post" enctype="multipart/form-data" id="addPost">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Digite o título do anúncio" required/>
    </div>
    <div class="form-control">
      <label for="description">Descrição:</label>
      <textarea name="description" id="" cols="30" rows="10" placeholder="Digite a descrição do produto" required></textarea>
    </div>
    <div class="form-control">
      <label for="price">Valor:</label>
      <input type="number" name="price" placeholder="Digite o valor do produto" required>
    </div>
    <div class="form-control">
      <label for="prodImg">Imagem: <span class="chooseImage"></span></label>
      <input type="file" name="prodImg"  accept="image/*" id="prodImg" placeholder="Selecione a imagem" required/>
    </div>
    <input type="submit" value="Criar anúncio">
  </form>
</div>