<div class="sneaker-form-container">
  <a href="/sneakers/dashboard">Voltar</a>
  <h1>Criando um Anúncio:</h1>
  <form action="/sneakers/add" method="post">
    <div class="form-control">
      <label for="title">Título:</label>
      <input
        type="text"
        name="title"
        placeholder="Digite o título do anúncio"
      />
    </div>
    <input type="submit" value="Criar anúncio">
  </form>
</div>