<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/sneakers/add" class="btn">Anunciar produto</a>
    </div>
    <h3>Seus produtos:</h3>
    <ul>
        {{#each sneakers}}  
        <li>{{this.title}}</li>
        <p>{{this.description}}</p>
        <img src="/upload/users/{{this.prodImg}}" alt="">
        {{/each}}
    </ul>
</div>